<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freshlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.example.freshlin.xl.frame.aplication.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".xl.example.mvpexp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".xl.example.activity.TestSetFactoryAct"/>
        <activity android:name=".xl.example.activity.TestNestedScrollViewActivity"/>
        <activity android:name=".xl.example.activity.TesteEficiency"/>
        <activity android:name=".xl.example.activity.ShareActivity"/>
        <activity android:name=".xl.example.activity.TestMyRefreshViewActivity" />
        <activity android:name=".xl.example.activity.TestActivity"/>
        <activity android:name=".xl.example.activity.CameraActivity"/>
        <activity
            android:name=".xl.example.activity.PerformanceActivity"
            android:launchMode="singleTask"/>


        <service android:name=".xl.example.service.MyAccessibilityService"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name='android.accessibilityservice.AccessibilityService' />
            </intent-filter>
            <meta-data
            android:name='android.accessibilityservice'
            android:resource='@xml/accessibilityservice' />
        </service>

    </application>

</manifest>